<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="StudentMasterConnectionString" connectionString="Data Source=homepc\sqlexpress;Initial Catalog=StudentMaster;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
   
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
